.tableParent{
    width: 100%;
    height: auto;
    color: var(--primary-color);
    border-collapse: collapse;
    
}
.tableParent th{
    padding: 10px;
    background-color: var(--white-color);
    font-size: 20px;
}

.tableParent td, th {
    border: 0.5px solid var(--border-color);
    padding: 3px;
    text-align: center;
}
.tableParent tr{
    font-size: 18px;
}

.tableParent td img {
    width: 60px;
    border-radius: 7px;
}

tr:nth-child(even) {
    background-color: var(--white-color);
}
.FilterArea{
    display: flex;
    margin-bottom: 10px;
}
.FilterArea select{
    margin-left: 0;
    margin-right: 10px;
}
.resetBtn{
    padding: 8px 20px;
    background-color: var(--white-color);
    font-size: 18px;
    border: 0.5px solid var(--border-color);
    color: var(--primary-color);
    border-radius: 4px;
    outline: none;
}
/*  {
    background: #000 !important;
    border: 0.5px solid var(--border-color) !important;
} */
 /* div.go2072408551:has(.alertParent) {
  background-color: yellow !important; 
} */
.alertParent{
    background-color: var(--white-color);
    border-radius: 7px;
    min-width: 300px;
    text-align: center;
    padding: 20px;
    border: 0.5px solid var(--border-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
}
.alertMessage{
    color: var(--primary-color) !important;
    font-size: 18px;
    margin-bottom: 10px;
}
.alertWarningMessage{
    color: #ef4444;
    font-size: 16px;
    margin-bottom: 15px;
}
.alertConfirmButton{
    background-color: var(--hover-color);
    border: 0.5px solid var(--border-color);
    border-radius: 4px;
    outline: none;
    padding: 10px 15px;
    font-size: 18px;
    color: var(--primary-color);
    cursor: pointer;
}
/* style={{
            padding: "7px 24px",
            border: "1px solid #d1d5db",
            borderRadius: "8px",
            background: "#f9fafb",
            color: "#374151",
            cursor: "pointer",
            fontSize: "15px"
          }} */