.tableParent{
    width: 100%;
    height: auto;
    color: var(--primary-color);
    border-collapse: collapse;
    
}
@media (max-width: 800px) {
    /* .tableParent{
        display: flex;
        flex-direction: column;
    } */
}
.tableParent th{
    padding: 10px;
    background-color: var(--white-color);
    font-size: 20px;
}

.tableParent td, th {
    border: 0.5px solid var(--border-color);
    padding: 3px;
    text-align: center;
}
.tableParent tr{
    font-size: 18px;
}

.tableParent td img {
    width: 60px;
    border-radius: 7px;
}

tr:nth-child(even) {
    background-color: var(--white-color);
}
.FilterArea{
    display: flex;
    align-content: center !important;
    gap: 7px;
    width: 100%;
    margin-bottom: 10px;
}
.FilterArea select{
    margin-left: 0;
    /* margin-right: 10px; */
    /* margin-bottom: 7px; */
}

/* @media (max-width: 800px) {
    .FilterArea{
        flex-direction: column;
    }
} */
.resetBtn{
    padding: 9px 20px;
    background-color: var(--white-color);
    font-size: 18px;
    border: 0.5px solid var(--border-color);
    color: var(--primary-color);
    border-radius: 4px;
    outline: none;
    margin-bottom: 0;
    /* margin-top: -4px; */
}
.emptytd{
    display: none;
}
@media (max-width: 1150px) {
    .resetBtn {
        margin-top: 3px;
    }

    .FilterArea div button {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .FilterArea{
        flex-direction: column;
        width: 100%;
        gap: 2px;
    }
    thead{
        display: none;
    }
    td{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: right !important;
        padding: 10px 31px !important;
        opacity: 0.8;
        border-bottom: 0 !important;
        
    }
    td::before{
        content: attr(data-level);
        float: left;
        font-family: var(--Purno-Bold);
    }
    .deleteLasttd{
        border-bottom: 1px solid var(--border-color) !important;
    }
    .emptytd{
        display: block;
        border: 0 !important;
        /* margin-top: 10px; */
        /* background-color: none !important; */
        background-color: var(--body-bg-color) !important;
    }
}
/*  {
    background: #000 !important;
    border: 0.5px solid var(--border-color) !important;
} */
 /* div.go2072408551:has(.alertParent) {
  background-color: yellow !important; 
} */
.alertParent{
    background-color: var(--white-color);
    border-radius: 7px;
    min-width: 300px;
    text-align: center;
    padding: 20px;
    border: 0.5px solid var(--border-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
}
.alertMessage{
    color: var(--primary-color) !important;
    font-size: 18px;
    margin-bottom: 10px;
}
.alertWarningMessage{
    color: #ef4444;
    font-size: 16px;
    margin-bottom: 15px;
}
.alertConfirmButton{
    background-color: var(--hover-color);
    border: 0.5px solid var(--border-color);
    border-radius: 4px;
    outline: none;
    padding: 10px 15px;
    font-size: 18px;
    color: var(--primary-color);
    cursor: pointer;
}
.bannerShow img{
    margin-top: 5px;
}
